body{
  background-color:#4B4F53;
}

h1 {
	font-size: 40px;
	text-align: center;
	margin-top:80px;
	margin-bottom: 80px;
}

span {
	font-size: 80px;
}

.iphone-wrapper {
	width: 400px;
	height: 650px;
	border: 1px solid black;
	color: #d2d6d6;
}

.navigate {
	display: flex;
	justify-content: space-between;
	margin: 15px;
}


.button-row-round {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15 55 0 55;
}

.button-row {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}
