.button{
  background-color: blue;
  height:40px;
  width:80px;
  display: inline-block;
  margin: 10px 10px;
  p{color: #505253}

  	&.round{
  	background-color: unset;
  	height: 37.5px;
  	width:37.5px;
  	border-radius:50%;
	border: 4px solid gold;
	  
	 

	  &.disabled{
	  	border: 4px solid darkgoldenrod;
	  	p {
	  		color: darkgoldenrod;
	  	}
	  }
	  &.filled{
		  background-color: gold;
		  p{
			color: #4C4F53;
		  } 
	  }
	  p{
    	vertical-align: middle;
    	margin: auto;
    	text-align: center;
    	color: gold;
    	font-size: 31px;
    }
	  }
	&.square {
    height: 45px;
    width: 250px;
    border-radius: 20px;
		p{
			vertical-align: middle;
			margin: auto;
			text-align: center;
			font-size: 16px;
			line-height: 15px;
			text-transform: uppercase;
			border-radius: 20px;
			font-family: Helvetica-light;
			padding: 15px;
		}
			&.white {
			background-color: white;
			p{color: #BCBFC7;}
			}
			&.gold {
			background-color: gold;	
			
			}
			&.goldlight {
				background-color: #F0D77C
			}
			&.golddark {
				background-color: darkgoldenrod;
			}
			&.grey {
				background-color:  #4C4F53;
				border: 3px solid gold;
				p{color: gold}
			}
			&.silver{
				background-color: #8C8155;
				border: 3px solid gold;
				p{color: gold}
			}
		i{
			color: #4C4F53;
			font-weight: 900;
			margin: auto 100px;
			font-size: 25px;
			line-height: 15px;
			text-transform: uppercase;
			border-radius: 20px;
			padding: 15px;
			&.goldcheck {
				color: gold;
			}
		}
	}



  

}

