.button{
  background-color:unset;
  height:40px;
  width:80px;
  display: inline-block;
  margin: 0 10px;

  &.round{
  	background-color: unset;
  	height: 37.5px;
  	width:37.5px;
  	border-radius:50%;
  	border: 3px solid #F4CC61;
    margin-top: 10px;
    margin-bottom: 10px;
    
	  &.disabled{
	  	border: 3px solid #F4CC61;
      opacity: 0.5; 
	  	p {
	  		opacity: 50%;
	  	}
	  }
    
  &.filled{
    background-color: #F4CC61;
    p {
      color: #4B4F53;
    }
  }

    p{
    	vertical-align: middle;
    	margin: auto;
    	text-align: center;
      line-height: 32px;
    	color: #F4CC61;
    	font-size: 40px;
    }

  }

  &.square {
    height: 45px;
    width: 300px;
    border-radius: 50px;
    border: 3px solid #F4CC61;
    margin-bottom: 20px; 

    p {
      vertical-align: middle;
      margin: auto;
      text-align: center;
      line-height: 45px;
      color: #4B4F53;
      font-size: 14px;
    }

    i{
      color: #4B4F53;
      font-weight: 900;
      margin: auto 125px;
      vertical-align: middle;
      font-size: 25px;
      line-height: 15px;
      border-radius: 20px;
      padding: 15px;

      &.gold-check {
        color: #F4CC61;
      }
    }

    &.inactive {
      background-color: white;
      border: 3px solid white;
      margin-top: 20px;
        p {
          color: lightgrey;
        }

    }

    &.normal {
      background-color: #F4CC61;

    }

    &.hover {
      background-color: #F5D67C;
      border: 3px solid #F5D67C;
        p {
          color: #717271;
        }
    }

    &.hoverLight {
      background-color: #8D7E53;
        p {
          color: #F4CC61;
        }
    }

    &.click {
      background-color: #BEA04B;
      border: 3px solid #BEA04B;
    }

    &.dark {
      p {
        color: #F4CC61;
      }
    }

  }

}

