$square-button-border: gold;
$square-button-background1: gold;
$squareTextColor1: gold;
$buttonText: #000000;
$gold: gold;
$gold2: #F5D67C;
$calendarBackground: #5C5F62;
$currentMonth: #FFFFFF;
$inactive-button-background: white;
$circle-button-inactive-border: gold;
$circle-button-filled-background: gold;
$circle-buttton-text-filled-and-inactive: gold;
$square-button-inactive-text1: grey;
$square-button-checkmark-text1: #4C4F53;
$circle-button-filled-text: #4C4F53;
$square-button-checkmark-text2: gold;
$square-button-filled-text2: #4C4F53;


