#calendar-head,
.calendar-row {
  display: flex;
  justify-content: space-around;

  p {
    width: 100%;
    text-align: center;
  }
  //TODO: Create a class ".grayedOut", which makes text lightgray,
  //don't try to use scss variables here, we don't have that set up on this part of the application
}
